  <nav class="navbar fixed-top navbar-expand-lg  navbar-dark" style="background-color: #007bff; ">

    <a class="navbar-brand " routerLink="/home/category"> <span style="font-size: x-large">Hommey </span></a>

    <div class="collapse navbar-collapse">

      <input type="search" class="form-control" style="outline: none;" placeholder="Search"
             (change)='onSearchProduct($event)'>


      <ul class="navbar-nav m-auto">


        <li class="nav-item my-2 my-lg-0">
          <a class="nav-link" routerLink="/history">
            <span class="fa fa-shopping-cart" style="font-size: 1rem; text-align: center;"></span>
          </a>
        </li>

        <li class="nav-item my-2 my-lg-0"  >
          <a class="nav-link" routerLink="/notification">
            <span class="fa fa-bell" style="font-size: 1rem; text-align: center;"></span>
            <span  class="badge badge-danger" style="font-size: .8rem; border-radius: 40%;" >15</span>
          </a>
        </li>


      </ul>


      <ul class="navbar-nav ml-auto" >
        <h5 class="align-self-center p-2" style="font-size: 1rem"><span>AbdElrahman</span></h5>
        <div class="testPhoto" routerLink="/profile/userData">
          <img src="../../assets/3.jpeg" alt="image">
        </div>

      </ul>


    </div>

  </nav>








