
input[type=search]{
  width: 40%;
  margin-left: 20px;
}
.navbar-nav {
  margin-right: 100px;
  font-size: 20px;

}
.navbar-nav li{
  margin-right: 20px;
  cursor: pointer;
}
.testPhoto img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
}


span{
  color: white;
}
