  <nav class="navbar fixed-top navbar-expand-lg  navbar-dark" style="background-color: #1ea9e9; " >

    <a class="navbar-brand " routerLink="/home/category"> <span  style="color: black; font-size: 1rem;">Homeey </span></a>
  
    <div class="collapse navbar-collapse">
  
      <input type="search" class="form-control"  style="outline: none;" placeholder="Search"(change)='onSearchProduct($event)'>
  
  
      <ul class="navbar-nav m-auto">
  
  
        <li class="nav-item my-2 my-lg-0"  >
          <a class="nav-link" routerLink="/history">
            <span class="fa fa-shopping-cart" style="font-size: 1rem; text-align: center; color: #453a2f;"></span>
          </a>
        </li>
  
        <li class="nav-item my-2 my-lg-0"  >
          <a class="nav-link" routerLink="/notification">
            <span class="fa fa-bell" style="font-size: 1rem; text-align: center; color: #453a2f;"></span>
            <span  class="badge badge-danger" style="font-size: .8rem; border-radius: 40%;" >15</span>
          </a>
        </li>
  
  
  
      </ul>
  
  
      <ul class="navbar-nav ml-auto" >
        <h5 style="margin: 10px 30px; color: black; font-size: 1rem;">AbElrahman </h5>
        <div class="testPhoto" routerLink="/profile/userData">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_qQNX1BpIFTRUuFWP-HrDAQv_sdia2y8EffQHxArvPT4FlIw&s" alt="image">
        </div>
  
      </ul>
  
  
    </div>
  
  </nav>
 
  
  





