<div class="site-footer p-2">

  <div class="container">
    <div class="row">
      <section class="col-sm-6 col-12">
        <h3 class="card-title"> always wants to help</h3>
        <p class="card-text" style="color: white"> reach to user</p>
      </section>


      <section class="col-sm-6 col-12">
        <h3 class="card-title "> any problems send to </h3>
        <p class="card-text " style="color: white">egypt@Adv.com</p>
      </section>



    </div>

  </div>
  <hr>


  <div class="container d-none d-sm-block">
    <div class="row">
      <ul class="col-sm-6">
        <li>Food</li>
        <li><a>شقه</a></li>
        <li><a>منازل</a>
        <li>
        <li><a>محلات</a></li>
        <li><a>بيع</a></li>
        <li><a>ايجار</a></li>
      </ul>

      <ul class="col-sm-6">
        <li>عامل</li>
        <li><a>يومي</a></li>
        <li><a>ساعه</a>
        <li>
        <li><a>كهربائي</a></li>
        <li><a>عامل بناء</a></li>
        <li><a>غيرها</a></li>
      </ul>

    </div>
  </div>
  <hr>

</div>
