<div class="row Single" >
    <img  class="Image"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_qQNX1BpIFTRUuFWP-HrDAQv_sdia2y8EffQHxArvPT4FlIw&">

    <section class="col" style="line-height: 10vh; padding-left: 50px;">
        <a style="padding:10px; font-size: 23px;" href="#" > Tamer Ali</a>
        <span style="padding:10px; font-size: 23px; color: #4242f1;"> Order Fish </span> 
        <span style="padding:10px"> <strong> 3:30 PM </strong> will end in <strong> 3:40 PM</strong>  </span>
    </section>

    <section class="col-sm-5  row" >  
      <button  class="col-sm-5  btn btn-primary">Accept</button>
      <button  class="col-sm-5 offset-1 btn btn-danger">Refuse</button>
    </section>

  </div>