<div class="row" >
    <section  class="col-sm-2 User">
        <img class="userImage" src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=60">
        <br><br>
        <h5>AbdElrahman Muhammed</h5>
        <small>Chef</small>

        <hr>
        <section class="row" style="margin:auto ;">
            <p class="col-sm-12">Contact us</p>
            <li><a href="#"  class="fa fa-facebook"></a> </li>
            <li><a href="#"  class="fa fa-twitter"></a> </li>
            <li><a href="#"  class="fa fa-youtube"></a> </li>
        </section>
        <hr>


        <section class="row" style="margin:auto ;">
            <p class="col-sm-12">Customer</p>
            <li><a href="#">ali</a> </li>
            <li><a href="#">ali</a> </li>
            <li><a href="#">ali</a> </li>
            <li><a href="#">ali</a> </li>
            <li><a href="#">ali</a> </li>
            <li><a href="#">ali</a> </li>
            <li><a href="#">ali</a> </li>

        </section>

    </section>

    <!-- /*****************************************************************************/ -->
    <section class="col-sm-7 More" >
        <div class="col-sm-12 AboutMe row">
            <section class="col-sm-12">

                <h3 style="float: left;">About</h3>
                <section style=" width: 25%;float: right;" class="row" >
                    <button class="offset-1 btn btn-outline-secondary">Follow</button>
                    <button class="offset-1 btn btn-danger">Message</button>
                </section>

            </section>

            
            <section class="col-sm-12" style="margin-top:20px">
                oil is a mixture of soil
                that is the ideal plant-growing medium. 
                It is actually a combination soil, 
                normally equal parts of clay, silt,
                 and sand, which gives the benefits 
                 of each with few of the disadvantages
            </section>
        </div>

        <!-- /************** posts********************* -->
        <div class="col-sm-12 row Post">

            <section class="col-sm-12">
                <img style="float: left;" class="userImagePost" src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=60">
               
                <section class="offset-1">
                    <strong>AbdElrahman</strong> 
                    <br>
                    <small class="text-muted">2:30am</small>
                </section>
               
            </section>
           
            <section class="col-sm-12"  style="margin-top:20px">
                oil is a mixture of soil
                that is the ideal plant-growing medium. 
                It is actually a combination soil, 
                normally equal parts of clay, silt,
                 and sand, which gives the benefits 
                 of each with few of the disadvantages
            </section>


        </div>
        <!-- /********************enf post*************************** -->


    </section>
    
     <!-- /*****************************************************************************/ -->
    <section class="col-sm-2 Rate">

    </section>

</div>