<div class="row" >
    <section class="col-sm-2 User">
      <img class="userImage" src="../../assets/3.jpeg">
      <br><br>
      <p><strong> {{userData.name}} </strong></p>
      <small>{{userData.job}}</small>
      <br>
      <small>{{userData.location}}</small>

      <hr>
      <section class="row">
        <p class="col-sm-12">Contact us</p>

        <section class="d-flex justify-content-around w-100">
          <a [href]="userData.socialMedia[0]" style="font-size: x-large" class="fa fa-facebook"></a>
          <a [href]="userData.socialMedia[1]" style="font-size: x-large" class="fa fa-youtube"></a>
        </section>

      </section>

    </section>

  <!-- /**************************** part two *************************************************/ -->
    <section class="col-sm-7 More" >

        <div class="col-sm-12 AboutMe row" style="background-color: white; border-radius: 10px">
            <section class="col-sm-12">
                <textarea class="form-control" style="min-height: 100px; max-height: 100px;"> </textarea>
                <br>
              <button class="btn btn-primary">Post</button>
            </section>
        </div>
        <br><br>


        <div class="col-sm-12 AboutMe row">
            <section class="col-sm-12">
                <h3 style="float: left;">About</h3>
            </section>

            <section class="col-sm-12" style="margin-top:20px">
               {{userData.about}}
            </section>
        </div>

        <!-- /************** posts********************* -->
        <div class="col-sm-12 row Post" *ngFor="let p of posts">

          <section class="w-100 d-flex justify-content-between" >
            <section>
              <img  class="userImagePost" [src]="p.image">
              <strong class="p-2">{{p.name}}</strong>
            </section>


            <section class="align-self-center">
              <span style="font-size: small"> {{p.time}}</span>
            </section>

          </section>


            <section class="col-sm-12"  style="margin-top:20px">
                {{p.post}}
            </section>


        </div>
        <!-- /********************enf post*************************** -->


    </section>

  <!-- /************************** end part two***************************************************/ -->
  <section class="col-sm-2 Rate">
    <h3><strong> Products </strong></h3>
    <h4 class="align-self-center">{{process.products}}</h4>
    <hr>

    <h3><strong> Clients </strong></h3>
    <h4 class="align-self-center">{{process.clients}}</h4>
    <hr>

    <h3><strong> Rating </strong></h3>
    <h4 class="align-self-center">{{process.rating}}</h4>

  </section>

</div>
