.User{
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px #a7a7a7;
    text-align: center;
    padding:20px;
    height: 100vh;

}
.User .userImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.User li{
    list-style-type: none;
    width: 50px;
    height: 50px;
    padding:15px;
    border-radius: 50%;
    background-color: #cecece;
    margin:auto;
    overflow: hidden;
}
.User li:hover{
    background: linear-gradient(to right, #002fff, #08c4d1);
}

.User li a:hover{
    color: white;
}

.User li a{
    list-style-type: none;

}
/*********************************************/

.More {
  margin: 10px auto;

}

.More .AboutMe {
  background-color: #e8eaeb;
  padding: 20px;
  box-shadow: 0px 0px 10px #a7a7a7;

}

.More .Post{
    margin-top:30px ;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0px 0px 10px #a7a7a7;
}

.More .Post .userImagePost{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}




/*********************************************/

.Rate{
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0px 0px 10px #a7a7a7;
    text-align: center;
    height: 100vh;


}

