<div class="row Comment" *ngFor="let c of comments">
  <img class="commentImage" [src]="c.image">
  <section class="col-sm-11  row" style="padding-top:5px">
    <section class="col-sm-12">
      <div style="float: left;">
        <span><strong>{{c.name}}</strong> </span> . <span class="text-muted">{{c.time}}</span>
      </div>
      <div style="float: right;cursor: pointer;">
        <span class="fa fa-ellipsis-h"></span>
      </div>
    </section>

    <section class="col-sm-12" style="padding-top:10px">
      <p> {{c.comment}} </p>
    </section>

  </section>

</div>


<hr>
