<div class="row Comment">
    <img  class="commentImage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_qQNX1BpIFTRUuFWP-HrDAQv_sdia2y8EffQHxArvPT4FlIw&s">
     <section class="col-sm-10  row" style="padding-top:5px">
            <section class="col-sm-12">
                <div style="float: left;">
                    <span><strong>Tamer Ali</strong> </span>  : <span class="text-muted">2020/6/10  10:30 am</span>
                </div>
                <div style="float: right;cursor: pointer;">
                    <span class="fa fa-ellipsis-h"></span>
                </div>
            </section> 
            
            <section class="col-sm-12" style="padding-top:10px">
                <p> soil is a mixture of soil
                     that is the ideal plant-growing medium. 
                     It is actually a combination soil, 
                     normally equal parts of clay, silt,
                      and sand, which gives the benefits 
                      of each with few of the disadvantages</p>
            </section>
            <section class="col-sm-12">
                <span class="text-muted" style="float: left; cursor: pointer">reply</span>
                <span class="text-muted fa fa-sort-desc" style="float: right; cursor: pointer;"></span>
            </section>
     </section>   
</div>

<div class="container">
    <app-reply-comment></app-reply-comment>
</div>
<hr>
