<div class="row Comment" *ngFor="let c of comments" >
  <img class="commentImage" [src]="c.image">
  <section class="col-sm-11  row" style="padding-top:5px">
    <section class="col-sm-12">
      <div style="float: left;">
        <span><strong>{{c.name}}</strong> </span> . <span class="text-muted">{{c.time}}</span>
      </div>

      <div class="float-right" style="position: absolute;right: 0px;">
        <button style="border: transparent !important;" class="btn" mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button class="btn" mat-menu-item>
            <mat-icon>report</mat-icon>
            <span>Report</span>
          </button>


          <button class="btn" mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>

    </section>

    <section class="col-sm-12" style="padding-top:10px">
      <p> {{c.comment}} </p>
    </section>

  </section>

</div>


<hr>
