


.Alart{
  text-align: center;
  height: 50px;
}
.Alart span {
    font-size: 20px;
  letter-spacing: 2px;
}

label{
    font-size: 16px;
}

.myClass{
  width: 50%;
  margin: 300px auto;
  background-color: white;
  box-shadow: 0px 0px 10px gray;
  padding: 20px;
  border-radius: 10px;


}
input{
    text-align: center;
}
button[type=submit]{
    margin-top: 10px;
    width: 100%;
}
button[type=button]{
    margin-top: 15px;
}

::-webkit-scrollbar{
  display: none;
}
