
   <div class="container myClass">

     <div class="alert alert-danger" role="alert" *ngIf="false">
       Email or Password are not Correct
     </div>


     <h3 style="margin: 10px 0px; text-align: center;">Login</h3>





    <form (ngSubmit)="onLoginDataFunction()" #loginDataForm="ngForm" >


      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label >Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >@</span>
            </div>
            <input type="email" class="form-control"  placeholder="Email"  ngModel name="EMAIL" required email>
          </div>
        </div>
      </div>





      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label >Password</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" > <li class="fa fa-key"></li> </span>
            </div>
            <input type="password" class="form-control "  placeholder="Password"  ngModel name="PASSWORD" required>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary " [disabled]="!loginDataForm.valid" >Login</button>
      <button routerLink="/signUp" type="button" class="btn btn-danger">SignUp</button>

    </form>


  </div>



