    <div style="
    border: 2px solid #c8c8c8;
    border-radius: 50px 0px 50px  0px; 
    padding: 20px;
    margin:10px 0px;
    background-color: #eeeeee;">

    <div >
      <div class="profile-img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_qQNX1BpIFTRUuFWP-HrDAQv_sdia2y8EffQHxArvPT4FlIw&s"  style="height: 20vh; width: 100%; border-radius: 50px 0px;" >
      </div>
      <br>

        <h5 class="margin-tb-20"><b>Rice</b></h5>
        <p>this is dic for product</p>
        <p style="color: #ff6600; font-size: 20px;">40 EGP</p>

  

    </div><!-- counter -->
    <button  class="btn btn-danger" style="float: left;" >Delete</button>
    <br><br>

    <!-- <button  class="btn btn-primary" style="float: right;" >Order</button> -->

  </div><!-- col-md-4 -->

