
    <div  class="row Content"  >


        <section class="col-md-9" style="height: auto;" >

            <table class="table table-striped">
                <thead style="background-color: #4fdabb">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Time</th>
                    <th scope="col">Price</th>
                    <th scope="col">Chef</th>
                  </tr>
                </thead>
                <tbody >
                  <tr  *ngFor="let cart of carts; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td> <img [src] ='cart.image' style="width: 100px; height: 60px;  border-radius: 20px 0px; "> </td>

                    <td>  <strong> {{cart.name}} </strong>   </td>

                    <td>{{cart.time}}</td>
                    <td> {{cart.price }} EGP</td>
                    <td> <a routerLink="/profile"> {{cart.chef}} </a> </td>
                  </tr>
                </tbody>
              </table>

        </section>



        <section  class="col-sm-3"  >
            <div  style="box-shadow: 0px 0px 10px #a7a7a7; padding:20px; margin-top: 20%;">
                    <h3 class="text-center">Summary</h3>
                    <br><BR>

                    <ul class="list-group">
                        <li class="list-group-item" style="border: 1px solid #d1d0d0">
                            <h5>Total Orders</h5>
                            <small style="float:right ; font-size: 20px"> {{carts.length}} Orders</small>
                        </li>
                      <br>

                        <li class="list-group-item" style="border: 1px solid #d1d0d0">
                            <h5>Total Price</h5>
                            <small style="float:right ; font-size: 20px;"> {{totalPrice }} EGP</small>
                        </li>


                      </ul>

            </div>

        </section>



    </div>
