
<div class="row replyComment" *ngFor="let c of replayComment">
    <img  class="commentImage" src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=60">
     <section class="col-sm-10  row" style="padding-top:5px">
            <section class="col-sm-12">
                <div style="float: left;">
                    <span><strong>Abdo nasr</strong> </span>  : <span class="text-muted">2020/6/10  11:30 am</span>
                </div>
            </section> 
            
            <section class="col-sm-12" style="padding-top:10px">
                <p> soil is a mixture of soil</p>
            </section>
     </section>   
</div>