<div style="margin-top:65px; " class="Content">

    <div class="ShortDetails">
          <img class=" userImage " src="../../assets/3.jpeg">
    </div>

    <hr>

    <div class="Filter">
      <ul class="row">
        <li class="col"><a routerLink="/profile/userData">PROFILE</a></li>
        <li class="col"><a routerLink="/profile/products">PRODUCTS</a></li>
        <li class="col"><a routerLink="/profile/comments">COMMENTS</a></li>
        <li class="col"><a routerLink="/profile/add">ADD</a></li>
      </ul>
   </div>

   <hr>

   <div>
        <router-outlet></router-outlet>
   </div>

</div>
